<div class="data" *ngIf="!devicesLoading; else loading">
    <div class="devices">
        <div
            *ngFor="let device of devices"
            (click)="selectDevice(device)"
            class="device"
            [class.selected]="selectedDevice === device"
        >
            {{device.name}}
        </div>
    </div>
    <div class="device-info" *ngIf="!deviceLoading; else loading">
        <div *ngIf="selectedDevice">
            <div class="device-info-header">
                <h3>Geräteinformationen</h3>
            </div>
            <div class="device-info-body">
                <table>
                    <tbody>
                    <tr>
                        <td id="deviceName">Gerätename:</td>
                        <td>{{selectedDevice.name}}</td>
                    </tr>
                    <tr>
                        <td id="deviceIP">Geräte-IP:</td>
                        <td>{{selectedDevice.ip}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="refresh-button">
    <img src="assets/refresh.svg" (click)="refresh()">
</div>

<ng-template #loading>
    <div class="loading-wrapper">
        <div class="lds-dual-ring"></div>
    </div>
</ng-template>
