<div class="data" *ngIf="!devicesLoading; else loading">
    <div class="devices">
        <div
            *ngFor="let device of devices"
            (click)="selectDevice(device)"
            class="device"
            [class.selected]="selectedDevice === device"
        >
            {{device.name}}
        </div>
    </div>
    <div class="device-info" *ngIf="!deviceLoading; else loading">
        <div *ngIf="selectedDevice">
            <div class="device-info-header">
                <h3>Geräteinformationen</h3>
            </div>
            <div class="device-info-body">
                <table>
                    <tbody>
                    <tr>
                        <td id="deviceName">Gerätename:</td>
                        <td>{{selectedDevice.name}}</td>
                    </tr>
                    <tr>
                        <td id="deviceIP">Geräte-IP:</td>
                        <td><a target="_blank" [href]="'http://' + selectedDevice.ip">{{selectedDevice.ip}}</a></td>
                    </tr>
                    <tr>
                        <td id="mac">Mac:</td>
                        <td>{{selectedDevice.mac}}</td>
                    </tr>
                    <tr>
                        <td id="subnetMask">Subnet Mask:</td>
                        <td>{{selectedDevice.subnetMask}}</td>
                    </tr>
                    <tr>
                        <td id="vendorValue">Vendor Wert:</td>
                        <td>{{selectedDevice.vendorValue}}</td>
                    </tr>
                    <tr>
                        <td id="deviceRole">Geräterolle:</td>
                        <td>{{selectedDevice.deviceRole}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="refresh-button">
    <img src="assets/refresh.svg" (click)="refresh()">
</div>

<ng-template #loading>
    <div class="loading-wrapper">
        <div class="lds-dual-ring"></div>
    </div>
</ng-template>
